*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: var(--viewport-min-width);
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: var(--space-0);
}

body {
  min-height: 100vh;
}

ul[role='list'],
ol[role='list'] {
  margin: var(--space-0);
  padding: var(--space-0);
  list-style: none;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

img,
picture,
video,
canvas {
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
[type='button'],
[type='submit'],
[type='reset'] {
  cursor: pointer;
}

a {
  color: inherit;
}

:target {
  scroll-margin-block: var(--space-xl);
}
