.container {
  width: var(--size-full);
  max-width: calc(var(--container-max-width) + (var(--container-padding-inline) * 2));
  margin-inline: auto;
  padding-inline: var(--container-padding-inline);
}

.container--wide {
  max-width: none;
}

.container--narrow {
  max-width: calc(
    var(--container-max-width) - (var(--space-3xl) * 2) +
      (var(--container-padding-inline) * 2)
  );
}
